
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100vh;
}

.service-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #d31f3e;
    max-width: 270px;
    height: 325px;
    max-height: 33vh;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
}


.service-card > ul {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-align: center;
    padding: 2px;
    width: 270px;
    height: auto;
}

.service-card > ul >li {
    line-height: 1.5;

}

.service-card > p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 270px;
}


#package-name {
    font-size: x-large;
    font-family: "Rubik Mono One", monospace;
    color: white;
}

#package-surname {
    font-size: medium;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #231f20;
}

#package-price {
    font-size: 2rem;
    color: white;
    font-family: "Rubik Mono One", monospace;;
}

#package-description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color:  #231f20;
    margin: 0px 0px 5px 0px;
}

.card-button {
    width: 180px;
    height: 40px;
    background-color: #d31f3e;
    border: 2px solid #231f20;
    border-radius: 5px;
    color: #231f20;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px 0px 5px 0px;
    border-radius: 265px;
}

.card-button:hover {
    border: 2px solid white;
    color: white;
    transition: linear 0.2s;
}

.service-explanation-one {
    display: inline-flex;
    flex-direction: row;
    height: 300px;
    border: 1px solid #d31f3e;
    position: relative;
    background-image: url("/assets/images/Stock photos/1.png");
    background-position: center;
}

.service-explanation-two {
    display: inline-flex;
    flex-direction: row-reverse;
    height: 300px;
    border: 1px solid #d31f3e;
    position: relative;
    background-image: url("/assets/images/Stock photos/2.png");
    background-position: center;
}

.service-explanation-three {
    display: inline-flex;
    flex-direction: row;
    height: 300px;
    border: 1px solid #d31f3e;
    position: relative;
    background-image: url("/assets/images/Stock photos/3.png");
    background-position: center;
    margin-bottom: 130px;
}

.text-container {
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #231f20;
    transition: all 1s ease-out;
    transition-delay: 0.5s;
    opacity: 0.95;
}

.service-explanation-two > .text-container {
    text-align: right;
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #231f20;
    transition: all 1s ease-out;
    transition-delay: 0.5s;
    opacity: 0.95;
}

.text-container > p {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}


.service-explanation-one:hover .text-container > p {
    opacity: 1;
    transition: 1s ease-in-out;
    transition-delay: 0.5s;
}

.service-explanation-one:hover .text-container {
    width: 100%;
    transition: 1s ease-out;
    
}

.service-explanation-two:hover .text-container > p {
    opacity: 1;
    transition: 1s ease-in-out;
    transition-delay: 0.5s;
}

.service-explanation-two:hover .text-container {
    width: 70%;
    transition: 1s ease-out;
    
}

.service-explanation-three:hover .text-container > p {
    opacity: 1;
    transition: 1s ease-in-out;
    transition-delay: 0.5s;
}

.service-explanation-three:hover .text-container {
    width: 70%;
    transition: 1s ease-out;
    
}

.text-container > p {
    color: white;
}

.text-container > h2 {
    color: white;
}

/* ------------- Responsiveness -------------------- */

@media (max-width: 900px) {

    .service-card {
        width: 500px;
        max-width: 500px;
        height: 270px;
        margin-top: 5px;
        margin-bottom: 10px;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .container {
        margin-top: 50px
    }

    .card-button {
        width: 450px;
        transition: linear 0.2s;
    }
}